<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hackathon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="~/images/logo.png" class="logo" alt="Contoso logo" /></a>
                </li>
                <li>
                    @*@if (!User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="Home" asp-action="SignIn">
                            <button type="submit" class="user-signin">
                                <i class="far fa-user"></i>
                            </button>
                        </form>
                    }
                    else*@
                    @{
                        <span>
                            <label for="upload">Upload</label>
                            <input type="file" id="upload" class="upload fa-r" style="display: none"/>
                        </span>
                    }
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
